<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @reservation.room %>
</p>

<p>
  <strong>From:</strong>
  <%= @reservation.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @reservation.to %>
</p>

<p>
  <strong>Reserved by:</strong>
  <%= @reservation.reserved_by %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reservation.description %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
